body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(30, 30, 30);
  color: white;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #000;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.grid-section {
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-column: 2/4;
  grid-gap: 20px;
  margin-bottom: 4rem;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.titulo {
  font-family: 'Playfair Display SC';
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}

.criptomoedas h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: rgb(0, 153, 255);
}

.criptomoedas h2::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 7px;
  margin-right: 10px;
  background-color: rgb(49, 53, 75);
}

.criptomoedas p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.criptomoedas-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.criptomoedas-lista li {
  transition: 0.5s;
}
.criptomoedas-lista li:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.criptomoedas-lista::-webkit-scrollbar {
  width: 10px;
  border-left: 2px solid rgb(30, 30, 30);
}
.criptomoedas-lista::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 255);
  border-left: 2px solid rgb(30, 30, 30);
}

.criptomoedas-descricao {
  grid-column: 3;
}

.criptomoedas-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 153, 255);
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 7px;
  margin-right: 10px;
  background-color: rgb(49, 53, 75);
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}
.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}
.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 7px;
  margin-right: 10px;
  background-color: rgb(49, 53, 75);
}

.copy {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 20px;
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: #000;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .criptomoedas-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1/3;
  }

  .titulo {
    font-size: 3rem;
  }

  .menu {
    margin-top: 0;
  }
  .copy {
    margin-bottom: 0;
  }
}

.js [data-tab='content'] section {
  display: none;
}

[data-tab='content'] section.ativo {
  display: block !important;
}
[data-tab='content'] section.ativo.show-right {
  animation: show-right 1.5s forwards;
}
[data-tab='content'] section.ativo.show-down {
  animation: show-down 1.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-animation='accordion'] dt::after {
  filter: invert(41%) sepia(92%) saturate(2236%) hue-rotate(165deg) brightness(100%) contrast(101%);
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('../img/arrow-red.svg') no-repeat center center;
  transform: rotate(90deg);
  transition: transform 0.3s;
  margin-left: 10px;
}
[data-animation='accordion'] dt.ativo::after {
  content: '';
  transform: rotate(-90deg);
}

.js [data-animation='accordion'] dd {
  display: none;
}
[data-animation='accordion'] dd.ativo {
  display: block !important;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
  }
}

.js [data-animation='scroll'] {
  opacity: 0;
  transition: 1.5s;
  transform: translate3d(-20px, 0, 0);
}

.js [data-animation='scroll'].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.btc-preco {
  background-color: black;
  color: rgb(255, 187, 0);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.25rem;
}

[data-semana]::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 5px;
  background-color: rgb(255, 0, 0);
}

[data-semana].aberto::after {
  background-color: rgb(0, 255, 0);
}

.arrow-black {
  background: url('../img/arrow.svg') no-repeat center center;
  background-size: 8px;
  display: inline-block;
  width: 10px;
  height: 10px;
}
